#bd{
  margin-bottom: 2%; 
  background-color: black;
}
#div1{
  border-style: solid;
  border-color: #F5F5F5;
   text-align: center; 
   margin-left: 10%;
   margin-right: 10%;
}
#header{
  padding-top: 2%; 
  padding-bottom: 2%;
   color: #F5F5F5; 
    font-size: 28px;
}
#hr1{
  padding-top: 1%; 
  margin-left: 10%; 
  margin-right: 10%;
}
#aside{
  padding-top: 2%; 
  font-size: 20px;
}
#p1{
  color:  #F5F5F5 ;
   text-align: center;
    margin-top: auto;
     margin-bottom: 2%;
     margin-left: 2%;
}

#myBtn{
  margin-top: 5%;
  margin-bottom: -1%;
  border-radius: 5px;
}
#b2{
  margin-top: 7%;
  margin-right: 1%;
   margin-left: 2%; 
   border-radius: 5px;
}
#check{
  margin-top: 7%;
   margin-left:  2%;
   border-radius: 5px;
}
#div3{
  border-style: solid; 
  color: #F5F5F5 ;
  width: 20%;
 float: left;
 margin-left: 12%;
  
}
#div4{
  border-style: solid; 
  border-color: yellow;
  margin: auto;
  margin-top: 12%;
  margin-left: auto;

   width: 225px;
    height: 225px;
      overflow: hidden;
       text-align: center;
       
}
#div5{
  display: block;
  border-style: solid;
  border-color: blue;
   margin: auto;
  margin-top: 12%;
  margin-right: auto;
  width: 224px;
  height: 224px;
  overflow: hidden;
  
 
}
#new{
  padding:5px 10px;
  background:#00ad2d;
  border:1px solid #00ad2d;
  position:relative;
  color:#fff;
  border-radius:2px;
  text-align:center;
  float:left;
  cursor:pointer
}
#new1 {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}
.container{
    display: flex;
}
.fixed{
  float: left;
  margin-left:10%;
  margin-right: 5%;
  width: 30%;
   text-align: center;
}
.flex-item{
  height: 100%;
   margin-left: -3%;
   width: 70%;
   margin-right: 10%;
  
padding-bottom: 8%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 6%;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.container3 {

  margin-left: 5%;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container1 {
	 margin-left: 5%;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container2 {
	margin-left: 5%;

  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container3 input {

  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark3 {
  position: absolute;
  top: 0;
  left: 15%;
  margin-right: 25%;
  height: 110%;
  width: 10%;
  background-color: #eee;
}
 
 .checkmark1 {
  position: absolute;
  top: 0;
  left: 15%;
  margin-right: 25%;
  height: 110%;
  width: 10%;
  background-color: #eee;
}

.checkmark2 {
    position: absolute;
  top: 0;
  left: 15%;
  margin-right: 25%;
  height: 110%;
  width: 10%;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container3:hover input ~ .checkmark3 {
  background-color: #ccc;

}

.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container3 input:checked ~ .checkmark3 {
  background-color: #2196F3;

}
 
 .container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
}

.container2 input:checked ~ .checkmark2 {
  background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark3:after {
  content: "";
  position: absolute;
  display: none;

}

.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark2:after {
  content: "";
  position: absolute;
  display: none;

}
/* Show the checkmark when checked */
.container3 input:checked ~ .checkmark3:after {
  display: block;
  width: 15%;
  position: absolute;
  left: 35%;
}
 
.container1 input:checked ~ .checkmark1:after {
  display: block;
   width: 15%;
  position: absolute;
  left: 35%;
}

.container2 input:checked ~ .checkmark2:after {
  display: block;
  width: 15%;
  position: absolute;
  left: 35%;
}
/* Style the checkmark/indicator */
.container3 .checkmark3:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container1 .checkmark1:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container2 .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
 margin-bottom: 10%;
 margin-left: 10%;
 margin-right: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
li{
	margin-left: 20%;
	margin-right: 20%;
}

#images{
  width: 100%;
 
  }
.img_grid{
    
    width: 330px;

    border-style: solid;
    border-color: white;
    height: 315px;
  
}
.item {
 
    width: 33%;
    float: left;
    height: 105px;
}
.item img {
   
}
.item:hover{
    
    opacity: 0.6;
}
#sel{
    color: #c2c2c2;
    font-family: Titillium Web ; 
    text-align: center;
    margin: auto;
    margin-top: 5px;
    padding:5px;
    font-weight: bold;
    font-size: 17px;
    width: 250px;
}
.imgpro{
  border-style: solid;  
  border-color:;
}
#al{
   width: 45%;
    float: left;
     margin-top: -2%;
}
#al1{
  width: 50%;
   float: right;
    margin-top: -2%;
}
#box{
  text-align: center;
  border-style: solid ;
  color: #F5F5F5 ;
   float: right;
    margin-right: 14%; 
    width: 45%; 
}
@media only screen and (max-width: 1100px) {
  .img_grid{
    overflow: none;
  }
  .item{
    width: 110px;
  }
  .container{
    display: block;
  }
  .flex-item{
   margin: auto;
   margin-bottom: 2%;
  }
  .fixed{
    width: 80%;
  }
  .img_grid{
    margin:auto;
  }
  
}
@media only screen and (max-width: 800px) {
  #div3{
    float: none;
   width: 45%;
    display: block;
   margin: auto;
   margin-bottom: 2%;
  }
  #al{
    float: none;
   width: 100%;
    display: block;
   
  }
  #al1{
     float: none;
   width: 100%;
    margin:auto;
    display: block;
  }
  #box{

    float: none;
    text-align: center;
    margin: auto;
  }
  }