.body{
	background-color: #171717;
    margin: auto;
   
}
.body {
    font-family: Titillium Web;
}

.item {
    width: 100px;
    float: left;
    height: 100px;
    
    
}
.item img {
   
}
button {
    font-size: 18px;
}
.img_grid{
   
    margin-left: -5px;
    width:300px;
    height: 300px;
}
#iiit{
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
}
#heading{
	text-align: center;
	padding-top: 10px;
	color: #C2C2C2;
    font-family: Titillium Web;
	font-size: .8em;
    margin-top: 5px;
    padding-top: 1px;
    padding-left: 50px;    
}
#sub_heading{
    margin-top: -15px;
}
#topbar{
    position: relative;
    background-color: #3a3a3a;
    height: 110px;
    width: 800px;
    margin-left:150px ;
    color: #C2C2C2;
    
}
#sel{
    color: #c2c2c2;
    font-family: Titillium Web ; 
    text-align: center;
    margin: auto;
    margin-top: 5px;
    padding:5px;
    font-weight: bold;
    font-size: 17px;
    width: 250px;
}
#Select{
    margin: 20px;
    width: 320px;
    height: 390px;
    border: 1px solid #c2c2c2;
    border-radius: 20px;
    
    
    
}

#Run{
    margin: 5px 105px 5px 0px;
    padding: 5px 30px;
    font-family: Titillium Web ; 
    border-radius: 10px;
    
}
#reset{
    padding: 5px 25px;
    font-family: Titillium Web ; 
    border-radius: 10px;
}
.item:hover{
    
    opacity: 0.6;
}
    

#Preview{
    color: #c2c2c2;
    margin: 20px;
    margin-top: 35px;
    height: 330px;
    width: 330px;
}


#input_image{
    border: 4px solid yellow;
    height: 309px;
    width: 309px;
}
.Parameters{

    color: #c2c2c2;
    margin: 20px;
    margin-top: 0px;
    width: 325px;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    font-family: Titillium Web ;    
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
#Output{
    margin: 20px;
    margin-top: 35px;
    height: 330px;
    width: 330px;
    color: #c2c2c2;
}
#output_image{
    border: 4px solid blue;
    height: 307px;
    width: 307px;
}
#Run{
    margin-top: 5px;
}


.Experiment{
    width: 1100px !important;
    margin: auto;
    
    padding: auto;
    
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
#HistOptions,#RegOptions,#MeanOptions,#VarianceOptions{
    padding-left: 30px;
    
}

.slide {
   margin-left: 30px;
   width: 320px !important;
}
