body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}
h3{
    display: none;
    text-align: center;
}
#quiz {
    margin-left: 25%;
    display:none;
    position: relative;
    margin-top: -28%;
    margin-bottom: 15%;
}
.button {
    border:4px solid;
    border-radius:5px;
    width: 10%;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

.button a {
    text-decoration: none;
    color: black;
}
.v1{
    margin-top: -5%;
    float: left;
    margin-left: 25%;
}
#container {
    display: none;
    width:90%;
    margin-top: 20%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color:#6CC4EE;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#start{
    width: 10%;
   margin-top: -5%;

}
.btn-circle {
    width: 18%; 
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
   
}
ul{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}
#b1{
    position: relative;
    margin-top: -7%;
    margin-right: 44%;
}